type eGTouchD, domain, coredomain, mlstrustedsubject;
type eGTouchD_exec, exec_type, system_file_type, file_type;
type eGTouchD_data_file, file_type, data_file_type, core_data_file_type, mlstrustedobject;

typeattribute eGTouchD socket_between_core_and_vendor_violators;

set_prop(eGTouchD, system_prop)
init_daemon_domain(eGTouchD)

allow eGTouchD proc_meminfo:file { open read getattr };
allow eGTouchD rootfs:file { open read getattr };
allow eGTouchD rootfs:lnk_file getattr;
allow eGTouchD property_socket:sock_file write;
allow eGTouchD dalvik_prop:property_service set;
allow eGTouchD config_prop:property_service set;
allow eGTouchD overlay_prop:property_service set;
allow eGTouchD overlay_prop:file { getattr open read };
allow eGTouchD kernel:system module_request;
allow eGTouchD self:netlink_kobject_uevent_socket { bind create read setopt };
allow eGTouchD self:capability { sys_nice net_raw net_admin sys_module};
allow eGTouchD self:tcp_socket { create read connect getopt write };
allow eGTouchD wifi_data_file:file getattr;
allow eGTouchD init:unix_stream_socket connectto;
allow eGTouchD vendor_file:system module_load;
allow eGTouchD vendor_data_file:file { write read};
allow eGTouchD device:lnk_file { create unlink };
allow eGTouchD devpts:chr_file setattr;
allow eGTouchD socket_device:dir { write add_name remove_name };
allow eGTouchD socket_device:sock_file { create setattr unlink };
allow eGTouchD sysfs_bluetooth_writable:dir { read open search };
allow eGTouchD sysfs_bluetooth_writable:file rw_file_perms;
allow eGTouchD sysfs_bluetooth_writable:lnk_file rw_file_perms;
allow eGTouchD sysfs_devices_block:dir { search read open };
allow eGTouchD sysfs_devices_block:file { open  read getattr };
allow eGTouchD port:tcp_socket name_connect;
allow eGTouchD dnsproxyd_socket:sock_file write;
allow eGTouchD hci_attach_dev:chr_file { open read write ioctl };
allow eGTouchD netd:unix_stream_socket connectto;
allow eGTouchD audioserver:binder { call transfer };
allow eGTouchD audioserver_service:service_manager find;
allow eGTouchD mediametrics:binder call;
allow eGTouchD mediametrics_service:service_manager find;
allow eGTouchD servicemanager:binder call;
allow eGTouchD proc_bluetooth_writable:dir { open read search };
allow eGTouchD proc_bluetooth_writable:file { open read write };
allow eGTouchD audio_device:dir { read open search };
allow eGTouchD audio_device:chr_file { ioctl open read write };
allow eGTouchD fwmarkd_socket:sock_file write;
allow eGTouchD shell_exec:file { read open execute execute_no_trans getattr map };
allow eGTouchD system_data_file:dir { write read open add_name remove_name setattr getattr create search };
# allow eGTouchD system_data_file:file { read open ioctl write unlink getattr setattr create append };
allow eGTouchD system_data_file:file { read open ioctl getattr };
allow eGTouchD system_data_file:fifo_file { read open ioctl write unlink getattr setattr create };
allow eGTouchD eGTouchD_data_file:dir { write read open add_name remove_name setattr getattr create search };
allow eGTouchD eGTouchD_data_file:file { read open ioctl write unlink getattr setattr create unlink append };
allow eGTouchD eGTouchD_data_file:fifo_file { read open ioctl write unlink getattr setattr create };
allow eGTouchD toolbox_exec:file { read open execute execute_no_trans getattr map };
# allow eGTouchD proc:file { write read open getattr };
allow eGTouchD proc:file { getattr };
allow eGTouchD sysfs:dir { read open search getattr };
# allow eGTouchD sysfs:file { write read open getattr };
allow eGTouchD sysfs:file { getattr };
# allow eGTouchD device:chr_file { open read write ioctl getattr };
allow eGTouchD device:chr_file { ioctl getattr };
allow eGTouchD device:dir { open read write ioctl getattr add_name remove_name };
allow eGTouchD uhid_device:chr_file { open read write ioctl getattr };
allow eGTouchD input_device:dir { open read search };
allow eGTouchD input_device:chr_file { getattr setattr };
# allow eGTouchD eGTouchD:capability { sys_boot dac_override dac_read_search fowner fsetid };
allow eGTouchD eGTouchD:capability { sys_boot fowner fsetid };
allow eGTouchD system_file:file { read open execute execute_no_trans getattr };
allow eGTouchD eGTouchD:capability { kill };
allow eGTouchD properties_device:dir { read open map };
allow eGTouchD properties_device:file { read open map };
allow eGTouchD proc_stat:file { read open getattr };
allow eGTouchD proc_version:file { write read open getattr };
allow eGTouchD serial_device:chr_file { write read open getattr ioctl };
allow eGTouchD proc_modules:file { write read open getattr };

###For EETI APK TOOL###
allow untrusted_app eGTouchD_data_file:fifo_file { open read write };
allow untrusted_app eGTouchD_data_file:dir { open read write search };
allow untrusted_app_27 eGTouchD_data_file:fifo_file { open read write };
allow untrusted_app_27 eGTouchD_data_file:dir { open read write search };
